<div>
  <h4><a href="/">Play a new game!</a></h4>
</div>
<div>
  <h4><%= user.username %>'s Playing History:</h4>
</div>


<% user.rounds.each do |round| %>
<p>Deck Name : <%= round.deck.name %> </p>
<p> Date Played - <%= round.created_at.localtime.strftime("%B %-d, %Y") %></p>
<p> There were <%= round.deck.cards.count %> cards in this deck.
<p>You made a total of <%= round.num_guesses %> guesses during the round. </p>

 <p> You answered <%= round.correct_first_guess %> right on the first try. </p>

<% end %>

